

body {
  margin: 0px;
  padding: 0px;
  background: #9fd5e9;
  text-align: center;
  color: #43494e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
header {
  margin-top: 15px;
  margin-bottom: 10px;
}

span {
  color: white;
  font-style: italic;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.fadeIn {
  animation-name: fadeIn;
}

.animated {
  animation-duration: 1s;
}

/* Borders */
div.borderBottom {
  margin: 0 auto;
  width: 300px;
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* 3 borders color after h1 */
div.borderColor1 {
  display: inline-block;
  background: #fdb44b;
  width: 95px;
  height: 5px;
}

div.borderColor2 {
  display: inline-block;
  background: #f71e35;
  width: 95px;
  height: 5px;
}

div.borderColor3 {
  display: inline-block;
  background: #0066b3;
  width: 95px;
  height: 5px;
}

/* responsive mobile */
@media (max-width: 991.5px) {
  input {
    width: 100%;
  }
}

button#add {
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2em;
  display: block;
  margin: 0 auto;
  width: 40%;
  background-color: #63b931;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 10px;
  transition: background-color 1s;
}

button#add:hover {
  background: #74ce3b;
}

/* responsive mobile */
@media (max-width: 991.5px) {
  button#add {
    width: 100%;
  }
}

i.fa-cart-plus {
  padding-right: 5px;
  font-size: 1.29em;
}

/* Cover */

input {
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 1.2em;
  color: #616161;
  opacity: 0.8;
  transition: opacity 400ms;
}

input:hover {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol.guide {
  margin: 0px;
  text-align: left;
  list-style-position: inside;
}

.shoplist {
  list-style: none;
}

.listItem {
  cursor: pointer;
  background: #fb7960;
  color: #fff;
  text-align: left;
  padding: 8px 5px;
  font-weight: bold;
  margin-bottom: 2px;
  border-radius: 5px;
}

.listItem:nth-child(even) {
  background: #e85d45;
}

/* when user click on list item text it marks it out */
.done {
  background-color: #ccc;
}

.done:nth-child(even) {
  background: #ccc;
}

/* display: none for the list items when user click on the X button */
.delete {
  display: none;
}

/* style for the button that is created on JavaScript*/
.deleteBtn {
  cursor: pointer;
  border-radius: 5px;
  background: #db0808;
  position: absolute;
  right: 0;
  border: none;
  color: #fff;
  margin-top: -8px;
  padding: 8px;
  transition: background 1s;
  font-weight: bold;
  outline: none;
}

.deleteBtn:hover {
  background: #ff0000;
}

/* footer section */
/* the navbar social media buttons */
/* facebook */
.fa-facebook-square {
  transition: color 600ms ease-in-out;
  color: rgba(0, 0, 0, 0.7);
  font-size: 19px;
}

.fa-facebook-square:hover {
  color: #3b5998;
  background: none;
}

/* twitter */
.fa-twitter-square {
  transition: color 600ms ease-in-out;
  color: rgba(0, 0, 0, 0.7);
  font-size: 19px;
}

.fa-twitter-square:hover {
  color: #1da1F2;
}

.fa-instagram {
  transition: color 600ms ease-in-out;
  color: rgba(0, 0, 0, 0.7);
  font-size: 19px;
}

.fa-instagram:hover {
  color: #e4405f;
}

.fa-github {
  transition: color 600ms ease-in-out;
  color: rgba(0, 0, 0, 0.7);
  font-size: 19px;
}

.fa-github:hover {
  color: #000000;
}

.fa-globe {
  transition: color 600ms ease-in-out;
  color: rgba(0, 0, 0, 0.7);
  font-size: 19px;
}

.fa-globe:hover {
  color: #0066b3;
}

footer {
  padding: 10px 0;
  box-shadow: 5px -15px 15px rgb(169, 214, 210);
  background: #a9d6d2;
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.7;
  font-size: 0.85em;
  height: 100px;
  margin-top: 90px;
}

footer a{
  transition: 400ms;
}

footer a:hover{
  color: #989898;
  text-decoration: none;
}
/* end of footer section */